.place__link{
    margin: 0;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    transition: opacity 0.3s ease-out;
    text-rendering: optimizeLegibility;
}

.place__link:hover{
    opacity: 0.2;
}